doctype html
html
  head
    meta(charset='utf-8')
    title RA CALENDAR

    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/main.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='vendor/jquery-dateFormat/jquery-dateFormat.min.js')
    script(src='jquery.ra-calendar.js')

    link(rel='stylesheet', href='styles/example.css')
    script(src='example.js')

  body
    include jade/menu
    include jade/header

    .container.content
      .panel.panel-default
        .panel-body
          #ra-calendar Example text

      a(name='get-started')

    include jade/footer
